# --- Python cơ bản ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Môi trường ảo (Virtual Env) ---
venv/
env/
.venv/

# --- Cấu hình IDE (VS Code & PyCharm) ---
.vscode/
.idea/

# --- Dữ liệu người dùng (QUAN TRỌNG) ---
highscore.txt
*.log

# --- Hệ điều hành ---
.DS_Store
Thumbs.db

# --- PyInstaller (Rác sinh ra khi đóng gói exe) ---
build/
dist/
*.spec